body { 
    color: #333;
    font-size: 2em;
}

p { 
    color: #3f3;
    font-size: 1.5em;
}

.second {
    color: #00f;
}

#three {
    color: #f00;
}

#position-me {
    position: absolute;
    top: 0;
    left: 0;
}
