body {
    width: 100%;
    background: url(../images/bg.jpg) top left no-repeat;
}

#container {
    width: 800px;
    margin: 0 auto;
    background-color: rgba(31, 88, 135, 0.6);
    -moz-border-radius: 5px;
}
